html, body
    height: 100%
    
body
    font-family: 'Roboto-Regular', sans-serif
    font-weight: 400
    color: $default-color
    font-size: 16px
    line-height: 26px
    display: flex
    flex-direction: column

.main
    flex-grow: 1

.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px
