@import 'reset'
@import 'variables'
@import 'fonts'
@import 'libs'
@import 'typography'
@import 'buttons'
@import 'global'

.header
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 0
.menu
    &__list
        display: flex
    &__list-item
        margin-right: 35px
        &:last-child
            margin-right: 0
    &__list-link
        font-family: 'Roboto-Regular', sans-serif
        font-weight: 400
        font-size: 16px
        line-height: 1.2
        color: $color-black
        padding: 0 2px
        padding-bottom: 1px
        text-decoration: none
        text-transform: uppercase
        transition: .1s all
        &:hover, &--active
            font-family: 'Roboto-Regular', sans-serif
            font-weight: 700
            color: $main-color
            border-bottom: 1px solid $main-color
.user-nav
    display: flex
    &__link
        position: relative
        margin-right: 25px
        text-decoration: none
        &:last-child
            margin-right: 0
    &__num
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        position: absolute
        width: 20px
        height: 20px
        border-radius: 50%
        background: $main-color
        text-align: center
        font-size: 12px
        line-height: 20px
        color: $color-white
        top: -9px
        right: -14px

.footer
    background: $section-bg
    padding: 76px 0 26px 0

.footer-top
    display: flex
    border-bottom: 1px solid #ececec

    &__item
        &:not(:last-child)
            margin-right: 45px
    &__contacts
        width: 253px
    &__subscribe
        max-width: 469px
        margin-left: 38px
    &__adress
        margin-top: 35px
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-style: normal
        font-size: 16px
        line-height: 36px
    &__email, &__phone
        display: block
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-style: normal
        font-size: 16px
        text-decoration: none
        margin-bottom: 10px
        color: $default-color
    &__phone
        margin-bottom: 28px
    &__social
        display: flex

    &__social-item
        margin-bottom: 41px
        &:not(:last-child)
            margin-right: 15px

    &__social-link
        transition: .3s all

    &__title
        margin-bottom: 35px

    &__list-link
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        display: block
        color: $default-color
        text-decoration: none
        margin-bottom: 10px

    &__text
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        line-height: 26px
        color: $default-color
        margin-bottom: 29px

    &__form
        display: flex

    &__input
        max-width: 320px
        width: 100%
        background: $color-white
        box-shadow: 0px 7px 20px 0px rgba(192,192,192,0.3)
        border: none
        padding: 12px 10px 12px 15px
        margin-right: 10px
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        &::placeholder
            font-family: 'Quicksand', sans-serif
            font-weight: 500
            line-height: 36px
            font-weight: 500
    &__btn
        padding: 6px 26px
        box-shadow: 0px 7px 20px 0px rgba(255,17,48,0.3)

.footer-bottom
    display: flex
    justify-content: space-between
    margin-top: 31px

    &__copyright
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 12px
        line-height: 34px
        font-weight: 500

    &__accept
        display: flex
        align-items: center

    &__accept-descr
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 12px
        line-height: 34px
        margin-right: 20px

    &__accept-img
        width: 33px
        height: 20px
        margin-right: 25px
        &:last-child
            width: 75px
            height: 20px
            margin-right: 0

path
    fill: $default-color !important
    &:hover
        fill: $main-color !important

.top-slider
    background-image: url(../img/slider-top.png)
    background-color: $section-bg
    background-repeat: no-repeat
    background-size: cover
    padding: 65px 0 45px 0
    &__container
        max-width: 1560px
    &__inner

    &__item
        display: flex !important
        justify-content: space-between
        align-items: center
    &__content
        padding-left: 175px
    &__title
        max-width: 670px
        margin-bottom: 40px
    &__text
        max-width: 470px
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        line-height: 26px
        margin-bottom: 59px
    &__btn
        letter-spacing: 0.2em
        padding: 14px 35px
    &__img

    .slick-dots
        display: flex
        justify-content: center
        margin-top: -70px
        li
            line-height: 0
            button
                font-size: 0
                border: 1px solid transparent
                width: 26px
                height: 26px
                background: transparent
                border-radius: 50%
                padding: 0
                margin-right: 5px
                position: relative
                &::before
                    content: ""
                    width: 6px
                    height: 6px
                    position: absolute
                    background: $default-color
                    border-radius: 50%
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)

        .slick-active
            button
                background: transparent
                border-color: $main-color
                &::before
                    background: $main-color

.categories
    background-image: url(../img/decor/categories-left-bg.png)
    background-repeat: no-repeat
    background-position: center left
    padding: 120px 0
    &__inner
        background-image: url(../img/decor/categories-right-bg.png)
        background-repeat: no-repeat
        background-position: center right

    &__info
        display: flex
        justify-content: space-between
        position: relative
        z-index: 100
        &::after, &::before
            content: ""
            position: absolute
            z-index: -1
        &::after
            width: 120px
            height: 121px
            background-image: url(../img/decor/categories-after.png)
            background-repeat: no-repeat
            bottom: 27px
            right: -78px
        &::before
            width: 120px
            height: 121px
            background-image: url(../img/decor/categories-before.png)
            top: -47px
            left: -39px

    &__top

.categories-info

    &__item
        width: 370px
        background-color: $color-white
        box-shadow: 20px 0px 60px 0px rgba(202,202,202,0.34)
        padding: 60px 30px
        margin-bottom: 120px

    &__box
        width: 60px
        height: 60px
        margin-bottom: 39px
        &--yellow
            background: #ffb534
        &--blue
            background: #34c3ff
        &--red
            background: #fe3e57
    &__icon
        margin: 0 auto
        padding-top: 18px

    &__title
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: 22px
        line-height: 26px
        color: $color-black
        margin-bottom: 18px

    &__text
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 26px
        color: $default-color

.categories-top

    &__title
        margin-bottom: 29px

    &__text
        max-width: 570px
        margin-bottom: 59px
        text-align: center

    &__items
        display: grid
        min-height: 635px
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-gap: 30px

    &__item
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        padding: 40px 0 0 40px
        &:nth-child(1)
            grid-row: span 2
        &:nth-child(2)
            grid-column: span 2
            padding-top: 109px

    &__item-link
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        text-decoration: none
        font-size: 16px
        line-height: 26px
        margin-bottom: 11px
        &--purple-link
            color: #5800e4
        &--red-link
            color: #fe3e57
        &--yellow-link
            color: #ffb534
        &--blue-link
            color: #34c3ff
    &__item-title
        margin-bottom: 8px

    &__item-explore
        font-family: 'Roboto', sans-serif
        font-weight: 400
        text-decoration: none
        text-transform: uppercase
        line-height: 1.2
        font-weight: 400
        letter-spacing: 0.05em
        color: $color-black
        transition: .3s all
        &--purple
            &:hover
                color: #5800e4
                border-bottom: 1px solid #5800e4
        &--red
            &:hover
                color: #fe3e57
                border-bottom: 1px solid #fe3e57
        &--yellow
            &:hover
                color: #ffb534
                border-bottom: 1px solid #ffb534
        &--blue
            &:hover
                color: #34c3ff
                border-bottom: 1px solid #34c3ff

.trending-fashion
    background: url(../img/trending-fashion-bg.jpg) center/cover no-repeat
    padding: 120px 0
    &__inner
        display: flex
        justify-content: space-between
    &__popup
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        max-width: 535px
        width: 100%
        height: 479px
        padding: 175px 202px 174px 203px
        margin-right: 65px
    &__popup-play
        max-width: none
        height: 130px
    &__content
        max-width: 570px
    &__content-descr
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        text-align: left
        color: $main-color
        font-size: 22px
        line-height: 26px
        text-transform: uppercase
        margin-bottom: 24px
        padding-top: 75px
    &__content-title
        text-align: left
        margin-bottom: 40px
    &__content-text
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 26px
        color: $default-color
        margin-bottom: 59px
    &__content-btn
        padding: 12px 35px

.products
    padding: 120px 0
    text-align: center

    &__title
        margin-bottom: 30px

    &__subtitle
        max-width: 566px
        margin-bottom: 60px
        text-align: center

    &__items
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 50px 30px
        margin-bottom: 60px

.products-item
    max-width: 370px
    transition: .5s all

    &__img-box
        position: relative
        height: 370px
        overflow: hidden
        margin-bottom: 25px

    &__img
        object-fit: cover

    &__link-box
        position: absolute
        width: 212px
        height: 50px
        bottom: 50px
        left: 79px
        background: $color-white
        box-shadow: 0px 5px 30px 0px rgba(152,152,152,0.2)
        border-radius: 25px
        display: flex
        justify-content: space-around
        padding-top: 15px
        transform: translateY(300%)

    &__link
        position: relative
        &--line
            &::after, &::before
                content: ""
                position: absolute
                width: 1px
                height: 30px
                background-color: #ececec
                top: -5px
            &::after
                right: -27px
            &::before
                left: -27px
        path
            transition: .3s all

    &__title
        margin-bottom: 20px

    &__new-price
        font-family: 'Roboto', sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 26px
        color: $color-black
        margin-right: 24px
    &__old-price
        ont-family: 'Roboto', sans-serif
        font-weight: 400
        text-decoration: line-through
        color: #ccccce
    &--sale
        .products-item__img-box
            &::before
                content: "SALE"
                background: $main-color
                font-family: 'Roboto', sans-serif
                font-weight: 400
                color: $color-white
                font-size: 16px
                line-height: 26px
                padding: 3px 12px
                position: absolute
                left: 25px
                top: 25px
                box-shadow: 0px 7px 20px 0px rgba(254,62,87,0.25)
    &:hover
        .products-item__link-box
            transform: translateY(0%)

.stars
    margin: 0 auto
    margin-bottom: 19px

.promo
    background-color: $section-bg
    background-image: url(../img/promo-bg.jpg)
    background-position: top center
    background-repeat: no-repeat
    background-size: cover
    padding: 160px 0

    &__inner
        max-width: 570px
        width: 100%
        margin-left: auto
        text-align: center

    &__subtitle
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 22px
        line-height: 26px
        color: $main-color
        text-transform: uppercase
        margin-bottom: 29px
        text-align: center

    &__title
        margin-bottom: 60px

    &__timer
        display: flex
        justify-content: center
        margin-bottom: 60px

    &__timer-item
        margin-right: 29px
        text-align: center
        width: 120px
        height: 120px
        background: $color-white
        border-radius: 50%
        box-shadow: 0px 10px 40px 0px rgba(187,187,187,0.3)
        padding-top: 35px
        &:last-child
            margin-right: 0

.smalltext
    font-family: 'Quicksand', sans-serif
    font-size: 16px
    font-weight: 500
    color: $default-color

.hours, .minutes, .seconds, .days
    font-family: 'Roboto', sans-serif
    font-size: 48px
    line-height: 26px
    font-weight: 700
    color: $color-black
    margin-bottom: 15px

.partners
    padding: 120px 0 60px
    &__list
        display: flex
        justify-content: space-between

.blog
    // background-image: url(../img/blog-bg.png)
    // background-repeat: no-repeat
    // background-position: center center
    padding: 60px 0 164px 0
    position: relative
    &::after, &::before
        content: ""
        position: absolute
    &::after
        width: 56px
        height: 58px
        top: 82%
        right: 123px
        background-image: url(../img/decor/blog-decor-after.png)
    &::before
        width: 106px
        height: 106px
        background-image: url(../img/decor/blog-decor-before.png)
        top: 45%
        left: 124px

    &__title
        margin-bottom: 29px

    &__subtitle
        max-width: 557px
        text-align: center
        margin-bottom: 56px

    &__items
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        row-gap: 30px
        position: relative
        &::after
            content: ""
            position: absolute
            width: 126px
            height: 53px
            background-image: url(../img/decor/bg-after.png)
            background-repeat: no-repeat
            top: -31px
            right: -35px
            z-index: -1     

    &__item
        max-width: 370px
        width: 100%
        background: $color-white
        padding-bottom: 29px
        border: 1px solid #ececec
        transition: .3s all
        &:hover
            border: none
            box-shadow: 20px 0px 60px 0px rgba(202,202,202,0.34)
            .blog__item-read
                color: $main-color
                &::after
                    background-image: url(../img/icons/blog-icon-red.png)

    &__item-logo

    &__item-img
        height: 288px
        object-fit: cover
        margin-bottom: 34px

    &__item-info
        display: flex
        margin-bottom: 24px

    &__item-autor, &__item-date, &__item-read
        font-family: 'Quicksand', sans-serif
        font-size: 16px
        line-height: 26px
        font-weight: 500
        color: $default-color
        text-decoration: none
        position: relative
        &::after, &::before
            content: ""
            position: absolute

    &__item-autor
        padding-left: 70px
        margin-right: 63px
        &::before
            width: 20px
            height: 20px
            background-image: url(../img/icons/blog-icon-1.png)
            left: 40px


    &__item-date
        &::before
            width: 20px
            height: 20px
            background-image: url(../img/icons/blog-icon-2.png)
            right: 137px
            top: 2px

    &__item-content
        display: flex
        flex-direction: column

    &__item-title
        max-width: 336px
        margin-bottom: 25px
        text-decoration: none
        padding-left: 41px
        

    &__item-read
        padding-left: 40px
        text-decoration: none
        transition: .3s all
        &::after
            width: 10px
            height: 8px
            background-image: url(../img/icons/blog-icon-3.png)
            top: 10px
            right: 231px


    
    
    
    
    
@import 'media'
