@import 'reset'
@import 'variables'
@import 'fonts'
@import 'libs'
@import 'typography'
@import 'buttons'
@import 'global'

.header
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 0

.menu
    &__list
        display: flex
    &__list-item
        margin-right: 35px
        &:last-child
            margin-right: 0
    &__list-link
        font-family: 'Roboto-Regular', sans-serif
        font-weight: 400
        font-size: 16px
        line-height: 1.2
        color: $color-black
        padding: 0 2px
        padding-bottom: 1px
        text-decoration: none
        text-transform: uppercase
        transition: .1s all
        &:hover, &--active
            font-family: 'Roboto-Regular', sans-serif
            font-weight: 700
            color: $main-color
            border-bottom: 1px solid $main-color
.user-nav
    display: flex
    &__link
        position: relative
        margin-right: 25px
        text-decoration: none
        &:last-child
            margin-right: 0
    &__num
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        position: absolute
        width: 20px
        height: 20px
        border-radius: 50%
        background: $main-color
        text-align: center
        font-size: 12px
        line-height: 20px
        color: $color-white
        top: -9px
        right: -14px

.footer
    background: $section-bg
    padding: 76px 0 26px 0

.footer-top
    display: flex
    border-bottom: 1px solid #ececec

    &__item
        &:not(:last-child)
            margin-right: 45px
    &__contacts
        width: 253px
    &__subscribe
        max-width: 469px
        margin-left: 38px
    &__adress
        margin-top: 35px
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-style: normal
        font-size: 16px
        line-height: 36px
    &__email, &__phone
        display: block
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-style: normal
        font-size: 16px
        text-decoration: none
        margin-bottom: 10px
        color: $default-color
    &__phone
        margin-bottom: 28px
    &__social
        display: flex

    &__social-item
        margin-bottom: 41px
        &:not(:last-child)
            margin-right: 15px

    &__social-link
        transition: .3s all

    &__title
        margin-bottom: 35px

    &__list-link
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        display: block
        color: $default-color
        text-decoration: none
        margin-bottom: 10px

    &__text
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        line-height: 26px
        color: $default-color
        margin-bottom: 29px

    &__form
        display: flex

    &__input
        max-width: 320px
        width: 100%
        background: $color-white
        box-shadow: 0px 7px 20px 0px rgba(192,192,192,0.3)
        border: none
        padding: 12px 10px 12px 15px
        margin-right: 10px
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        &::placeholder
            font-family: 'Quicksand', sans-serif
            font-weight: 500
            line-height: 36px
            font-weight: 500
    &__btn
        padding: 6px 26px
        box-shadow: 0px 7px 20px 0px rgba(255,17,48,0.3)

.footer-bottom
    display: flex
    justify-content: space-between
    margin-top: 31px

    &__copyright
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 12px
        line-height: 34px
        font-weight: 500

    &__accept
        display: flex
        align-items: center

    &__accept-descr
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 12px
        line-height: 34px
        margin-right: 20px

    &__accept-img
        width: 33px
        height: 20px
        margin-right: 25px
        &:last-child
            width: 75px
            height: 20px
            margin-right: 0

path
    fill: $default-color !important
    &:hover
        fill: $main-color !important

.top

    &__container
        max-width: 1700px
        margin: 0 auto
        background-repeat: no-repeat
        background-size: cover
        background-position: top center
        padding: 136px 0
        text-align: center

    &__title
        line-height: 1.2
        font-weight: 400
        margin-bottom: 34px

.top-slider
    background-image: url(../img/slider-top.png)
    background-color: $section-bg
    background-repeat: no-repeat
    background-size: cover
    padding: 65px 0 45px 0
    &__container
        max-width: 1560px
    &__inner

    &__item
        display: flex !important
        justify-content: space-between
        align-items: center
    &__content
        padding-left: 175px
    &__title
        max-width: 670px
        margin-bottom: 40px
    &__text
        max-width: 470px
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        line-height: 26px
        margin-bottom: 59px
    &__btn
        letter-spacing: 0.2em
        padding: 14px 35px
    &__img

    .slick-dots
        display: flex
        justify-content: center
        margin-top: -70px
        li
            line-height: 0
            button
                font-size: 0
                border: 1px solid transparent
                width: 26px
                height: 26px
                background: transparent
                border-radius: 50%
                padding: 0
                margin-right: 5px
                position: relative
                &::before
                    content: ""
                    width: 6px
                    height: 6px
                    position: absolute
                    background: $default-color
                    border-radius: 50%
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)

        .slick-active
            button
                background: transparent
                border-color: $main-color
                &::before
                    background: $main-color

.categories
    background-image: url(../img/decor/categories-left-bg.png)
    background-repeat: no-repeat
    background-position: center left
    padding: 120px 0
    &__inner
        background-image: url(../img/decor/categories-right-bg.png)
        background-repeat: no-repeat
        background-position: center right

    &__info
        display: flex
        justify-content: space-between
        position: relative
        z-index: 100
        &::after, &::before
            content: ""
            position: absolute
            z-index: -1
        &::after
            width: 120px
            height: 121px
            background-image: url(../img/decor/categories-after.png)
            background-repeat: no-repeat
            bottom: 27px
            right: -78px
        &::before
            width: 120px
            height: 121px
            background-image: url(../img/decor/categories-before.png)
            top: -47px
            left: -39px

    &__top

.categories-info

    &__item
        width: 370px
        background-color: $color-white
        box-shadow: 20px 0px 60px 0px rgba(202,202,202,0.34)
        padding: 60px 30px
        margin-bottom: 120px

    &__box
        width: 60px
        height: 60px
        margin-bottom: 39px
        &--yellow
            background: #ffb534
        &--blue
            background: #34c3ff
        &--red
            background: #fe3e57
    &__icon
        margin: 0 auto
        padding-top: 18px

    &__title
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: 22px
        line-height: 26px
        color: $color-black
        margin-bottom: 18px

    &__text
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 26px
        color: $default-color

.categories-top

    &__title
        margin-bottom: 29px

    &__text
        max-width: 570px
        margin-bottom: 59px
        text-align: center

    &__items
        display: grid
        min-height: 635px
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-gap: 30px

    &__item
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        padding: 40px 0 0 40px
        &:nth-child(1)
            grid-row: span 2
        &:nth-child(2)
            grid-column: span 2
            padding-top: 109px

    &__item-link
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        text-decoration: none
        font-size: 16px
        line-height: 26px
        margin-bottom: 11px
        &--purple-link
            color: #5800e4
        &--red-link
            color: #fe3e57
        &--yellow-link
            color: #ffb534
        &--blue-link
            color: #34c3ff
    &__item-title
        margin-bottom: 8px

    &__item-explore
        font-family: 'Roboto', sans-serif
        font-weight: 400
        text-decoration: none
        text-transform: uppercase
        line-height: 1.2
        font-weight: 400
        letter-spacing: 0.05em
        color: $color-black
        transition: .3s all
        &--purple
            &:hover
                color: #5800e4
                border-bottom: 1px solid #5800e4
        &--red
            &:hover
                color: #fe3e57
                border-bottom: 1px solid #fe3e57
        &--yellow
            &:hover
                color: #ffb534
                border-bottom: 1px solid #ffb534
        &--blue
            &:hover
                color: #34c3ff
                border-bottom: 1px solid #34c3ff

.trending-fashion
    background: url(../img/trending-fashion-bg.jpg) center/cover no-repeat
    padding: 120px 0
    &__inner
        display: flex
        justify-content: space-between
    &__popup
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        max-width: 535px
        width: 100%
        height: 479px
        padding: 175px 202px 174px 203px
        margin-right: 65px
    &__popup-play
        max-width: none
        height: 130px
    &__content
        max-width: 570px
    &__content-descr
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        text-align: left
        color: $main-color
        font-size: 22px
        line-height: 26px
        text-transform: uppercase
        margin-bottom: 24px
        padding-top: 75px
    &__content-title
        text-align: left
        margin-bottom: 40px
    &__content-text
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 26px
        color: $default-color
        margin-bottom: 59px
    &__content-btn
        padding: 12px 35px

.products
    padding: 120px 0
    text-align: center

    &__title
        margin-bottom: 30px

    &__subtitle
        max-width: 566px
        margin-bottom: 60px
        text-align: center

    &__items
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 50px 30px
        margin-bottom: 60px

.products-item
    max-width: 370px
    transition: .5s all
    text-align: center
    &--list
        min-width: 100%
        display: flex
        text-align: left
        &:hover
            .products-item__link-box
                transform: translateY(-297%) !important

        .products-item__img-box
            min-width: 200px
            height: 100%
            margin-bottom: 0
            img
                height: inherit
        .products-item__link-box
            width: 115px
            border: none
            background: transparent
            box-shadow: none
            bottom: auto
            .products-item__link--line
                display: none
        .products-item__link
            margin-right: 14px
            width: 50px
            height: 50px
            background-color: #ffffff
            border-radius: 50%
            box-shadow: 0px 5px 30px 0px rgba(152,152,152,0.2)
            display: flex
            justify-content: center
            align-items: center
            right: 23%
            &:last-child
                margin-right: 0
        .products-item__content-box
            display: block

        .products-item__box
            display: flex
            flex-wrap: wrap
            align-items: center

        .products-item__title
            order: -1
            width: 100%
        .stars, .products-item__price
            order: 1

        .products-item__price
            margin-right: 10px

        .stars
            margin: 0
            margin-bottom: 4px

        .products-item__wrapper-box
            padding: 21px 40px
            border: 1px solid #ececec
            border-left: none

        .products-item__text
            font-family: 'Quicksand', sans-serif
            line-height: 26px
            font-weight: 500
            margin: 19px 0 16px 0

        .products-item__btn
            padding: 11px 40px
            background: $color-black
            box-shadow: none
            text-transform: none
            &:hover
                background: $main-color
                box-shadow: 0px 10px 25px 0px rgba(254,62,87,0.3)

    &__img-box
        position: relative
        height: 370px
        overflow: hidden
        margin-bottom: 25px

    &__img
        object-fit: cover

    &__content-box
        display: none

    &__link-box
        position: absolute
        width: 212px
        height: 50px
        bottom: 50px
        left: 79px
        background: $color-white
        box-shadow: 0px 5px 30px 0px rgba(152,152,152,0.2)
        border-radius: 25px
        display: flex
        justify-content: space-around
        padding-top: 15px
        transform: translateY(300%)

    &__link
        position: relative
        &--line
            &::after, &::before
                content: ""
                position: absolute
                width: 1px
                height: 30px
                background-color: #ececec
                top: -5px
            &::after
                right: -27px
            &::before
                left: -27px
        path
            transition: .3s all

    &__title
        margin-bottom: 20px

    &__new-price
        font-family: 'Roboto', sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 26px
        color: $color-black
        margin-right: 24px
    &__old-price
        ont-family: 'Roboto', sans-serif
        font-weight: 400
        text-decoration: line-through
        color: #ccccce
    &--sale
        .products-item__img-box
            &::before
                content: "SALE"
                background: $main-color
                font-family: 'Roboto', sans-serif
                font-weight: 400
                color: $color-white
                font-size: 16px
                line-height: 26px
                padding: 3px 12px
                position: absolute
                left: 25px
                top: 25px
                box-shadow: 0px 7px 20px 0px rgba(254,62,87,0.25)
    &:hover
        .products-item__link-box
            transform: translateY(0%)

.stars
    margin: 0 auto
    margin-bottom: 19px

.promo
    background-color: $section-bg
    background-image: url(../img/promo-bg.jpg)
    background-position: top center
    background-repeat: no-repeat
    background-size: cover
    padding: 160px 0

    &__inner
        max-width: 570px
        width: 100%
        margin-left: auto
        text-align: center

    &__subtitle
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        font-size: 22px
        line-height: 26px
        color: $main-color
        text-transform: uppercase
        margin-bottom: 29px
        text-align: center

    &__title
        margin-bottom: 60px

    &__timer
        display: flex
        justify-content: center
        margin-bottom: 60px

    &__timer-item
        margin-right: 29px
        text-align: center
        width: 120px
        height: 120px
        background: $color-white
        border-radius: 50%
        box-shadow: 0px 10px 40px 0px rgba(187,187,187,0.3)
        padding-top: 35px
        &:last-child
            margin-right: 0

.smalltext
    font-family: 'Quicksand', sans-serif
    font-size: 16px
    font-weight: 500
    color: $default-color

.hours, .minutes, .seconds, .days
    font-family: 'Roboto', sans-serif
    font-size: 48px
    line-height: 26px
    font-weight: 700
    color: $color-black
    margin-bottom: 15px

.partners
    padding: 120px 0 60px
    &__list
        display: flex
        justify-content: space-between

.blog
    // background-image: url(../img/blog-bg.png)
    // background-repeat: no-repeat
    // background-position: center center
    padding: 60px 0 164px 0
    position: relative
    &::after, &::before
        content: ""
        position: absolute
    &::after
        width: 56px
        height: 58px
        top: 82%
        right: 123px
        background-image: url(../img/decor/blog-decor-after.png)
    &::before
        width: 106px
        height: 106px
        background-image: url(../img/decor/blog-decor-before.png)
        top: 45%
        left: 124px

    &__title
        margin-bottom: 29px

    &__subtitle
        max-width: 557px
        text-align: center
        margin-bottom: 56px

    &__items
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        row-gap: 30px
        position: relative
        &::after
            content: ""
            position: absolute
            width: 126px
            height: 53px
            background-image: url(../img/decor/bg-after.png)
            background-repeat: no-repeat
            top: -31px
            right: -35px
            z-index: -1

    &__item
        max-width: 370px
        width: 100%
        background: $color-white
        padding-bottom: 29px
        border: 1px solid #ececec
        transition: .3s all
        &:hover
            border: none
            box-shadow: 20px 0px 60px 0px rgba(202,202,202,0.34)
            .blog__item-read
                color: $main-color
                &::after
                    background-image: url(../img/icons/blog-icon-red.png)

    &__item-logo

    &__item-img
        height: 288px
        object-fit: cover
        margin-bottom: 34px

    &__item-info
        display: flex
        margin-bottom: 24px

    &__item-autor, &__item-date, &__item-read
        font-family: 'Quicksand', sans-serif
        font-size: 16px
        line-height: 26px
        font-weight: 500
        color: $default-color
        text-decoration: none
        position: relative
        &::after, &::before
            content: ""
            position: absolute

    &__item-autor
        padding-left: 70px
        margin-right: 63px
        &::before
            width: 20px
            height: 20px
            background-image: url(../img/icons/blog-icon-1.png)
            left: 40px

    &__item-date
        &::before
            width: 20px
            height: 20px
            background-image: url(../img/icons/blog-icon-2.png)
            right: 137px
            top: 2px

    &__item-content
        display: flex
        flex-direction: column

    &__item-title
        max-width: 336px
        margin-bottom: 25px
        text-decoration: none
        padding-left: 41px

    &__item-read
        padding-left: 40px
        text-decoration: none
        transition: .3s all
        &::after
            width: 10px
            height: 8px
            background-image: url(../img/icons/blog-icon-3.png)
            top: 10px
            right: 231px

.modal
    margin-top: 120px
    padding-bottom: 120px
    text-align: center
    &__link
        font-family: 'Roboto', sans-serif
        font-size: 22px
        line-height: 1.2
        font-weight: 400
        color: #909090
        margin-right: 60px
        text-decoration: none
        text-transform: uppercase
        &:last-child
            margin-right: 0
        &--active
            font-weight: 700
            color: $main-color

    &__form
        display: flex
        flex-direction: column
        align-items: center
        width: 570px
        margin: 0 auto
        margin-top: 60px

    &__input
        width: 100%
        height: 60px
        border: none
        background: #f6f6f6
        padding: 0 10px
        margin-bottom: 40px
        margin-top: 14px
        &:last-child
            margin-bottom: 61px

    &__label
        margin-right: auto

    &__label, &__label-checkbox
        font-family: 'Quicksand', sans-serif
        line-height: 1.2
        font-weight: 500

    &__checkbox-box
        margin-right: auto
        margin-bottom: 21px

    &__checkbox

    &__label-checkbox
        flex: none
        display: inline-block
        margin-right: auto

    &__btn
        display: inline-block
        background: $color-black
        line-height: 1.2
        font-family: 'Roboto', sans-serif
        font-weight: 400
        letter-spacing: 0.2em
        color: $color-white
        text-transform: uppercase
        width: 100%
        padding: 24px 0
        cursor: pointer
        margin-bottom: 20px

    &__form-link
        margin-right: auto
        font-family: 'Quicksand', sans-serif
        line-height: 1.2
        font-weight: 500
        color: $main-color
        text-decoration: none

    &__text
        max-width: 559px
        text-align: justify
        margin-right: auto
        margin-bottom: 44px
        font-family: 'Quicksand', sans-serif
        line-height: 26px
        font-weight: 500
        &:last-child
            margin-bottom: 39px

.error-page
    padding: 120px 0

    &__inner
        display: flex
        align-items: center

    &__title
        text-transform: none
        font-family: 'Roboto', sans-serif
        font-size: 48px
        line-height: 26px
        font-weight: 700
        color: #28384f
        margin-bottom: 30px

    &__subtitle
        max-width: 460px
        margin: 0
        margin-bottom: 59px

    &__link
        padding: 12px 33px
        text-decoration: none
        text-transform: uppercase

    &__img
        margin-left: auto

.shop
    padding: 120px 0

    &__inner
        display: flex

    &__filters
        width: 370px
        margin-right: 30px

    &__content

.filter
    &__item
        border: 1px solid #ececec
        padding: 40px 30px
        margin-bottom: 40px
        &:last-child
            margin-bottom: 0
    &__title
        font-family: 'Roboto', sans-serif
        font-size: 22px
        line-height: 1.2
        text-transform: uppercase
        font-weight: 400
        color: $color-black
        margin-bottom: 30px

.filter-search

    &__form
        display: flex

    &__input
        width: 260px
        height: 50px
        border: none
        background-color: #f6f6f6
        padding: 0 5px 0 15px
        &::placeholder
            font-family: 'Quicksand', sans-serif
            line-height: 1.2
            font-weight: 500
            color: $default-color

    &__btn
        border: none
        background: $main-color
        width: 50px
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer

.filter-price
    &__form
        margin-bottom: 54px
    &__span-box
        display: flex
        justify-content: space-between
        align-items: center

    &__span
        font-family: 'Quicksand', sans-serif
        line-height: 1.2
        font-weight: 500
    &__btn
        padding: 10px 23px
        cursor: pointer

.irs--flat .irs-line
    height: 5px
    color: #ececec
    border-radius: 0
    top: 13px

.irs--flat .irs-handle
    width: 30px
    height: 30px
    background: $color-white
    box-shadow: 0px 0px 13px 0px rgba(90,90,90,0.2)
    top: 0

.irs--flat .irs-handle>i:first-child
    display: none

.irs--flat .irs-bar
    height: 5px
    background: $main-color
    top: 13px

.irs-from, .irs-to, .irs-single
    display: none

.irs--flat .irs-min, .irs--flat .irs-max
    display: none

.filter-color
    &__label
        padding: 20px 0
        border-bottom: 1px solid #ebebeb
        display: flex
        justify-content: space-between
        position: relative
        cursor: pointer
        &:first-child
            padding-top: 0
        &:last-child
            border: none
            padding-bottom: 0
    &__text
        font-family: 'Quicksand', sans-serif
        line-height: 1.2
        font-weight: 500
    &__color-box

    &__checkbox
        width: 16px
        height: 16px
        margin-left: -16px
        position: absolute
        &--blue
            position: absolute
            background: #00aeef
            top: 2px
        &--red
            position: absolute
            background: #f52574
            top: 22px
        &--green
            position: absolute
            background: #24d4ac
            top: 22px
        &--orange
            position: absolute
            background: #ff7e00
            top: 22px
        &--black
            position: absolute
            background: #000000
            top: 22px
        &--purple
            position: absolute
            background: #923899
            top: 22px
    &__input
        width: 1px
        height: 1px
        overflow: hidden
        clip: rect(0 0 0 0)
        position: absolute
        &:checked + .filter-color__checkbox
            background-image: url(../img/icons/checked-white.svg)
            background-repeat: no-repeat
            background-position: center
            background-color: $main-color

.filter-size

    &__label
        display: flex
        position: relative
        flex-direction: column
        align-items: flex-start
        margin-bottom: 17px

    &__input
        position: absolute
        overflow: hidden
        width: 1px
        height: 1px
        clip: rect(0 0 0 0)
        &:not(:last-child)
            margin-bottom: 38px
        &:checked + .filter-size__span
            border: 1px solid $main-color
            background: url(../img/icons/checked.svg)
            background-repeat: no-repeat
            background-position: center center
            & + .filter-size__text
                color: $main-color

    &__span
        width: 20px
        height: 20px
        border: 1px solid $default-color
        border-radius: 50%
        position: absolute
        left: 1px
        top: 1px
        margin-bottom: px

    &__text
        font-family: 'Quicksand', sans-serif
        line-height: 1.2
        font-weight: 500
        margin-left: 35px
        &--active
            color: $main-color

.filter-category

    &__form

    &__label
        display: block
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0

    &__input
        position: absolute
        overflow: hidden
        width: 1px
        height: 1px
        clip: rect(0 0 0 0)
        &:checked + .filter-category__span-box
            background: $main-color
            color: $color-white

    &__span-box
        background-color: #f6f6f6
        align-items: center
        padding: 16px 19px
        display: flex
        justify-content: space-between
        color: $color-black
        cursor: pointer

    &__span
        font-family: 'Quicksand', sans-serif
        line-height: 28px
        font-weight: 500
        color: inherit

.filter-tags

    &__title
        text-transform: none

    &__form

    &__label
        display: inline-block
        margin-bottom: 20px
        margin-right: 10px
        &:last-child
            margin-bottom: 0
            margin-right: 0

    &__input
        position: absolute
        overflow: hidden
        width: 1px
        height: 1px
        clip: rect(0 0 0 0)
        &:checked + .filter-tags__span
            background: $main-color
            color: $color-white
            border-color: $main-color

    &__span-box
        color: $default-color

    &__span
        border: 1px solid $default-color
        padding: 6px 15px
        display: inline-flex
        font-family: 'Quicksand', sans-serif
        line-height: 28px
        font-weight: 500
        color: inherit
        cursor: pointer

.shop-content
    width: 100%
    &__inner
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        border-bottom: 1px solid #ececec
        margin-bottom: 39px
        .products-item
            margin-bottom: 40px
    &__filters
        display: flex
        border: 1px solid #ebebeb
        padding: 20px 26px 11px 22px
        margin-bottom: 40px
        justify-content: space-between

    &__filters-buttons
        display: flex

    &__filters-btn
        display: inline-block
        border: none
        background: transparent
        cursor: pointer
        &--active
            path
                fill: $main-color !important
        &:last-child
            margin-right: 0
    span
        line-height: 24px
        margin-right: 15px
        &:last-child
            margin-right: 0

.jq-selectbox__select
    font-family: 'Quicksand', sans-serif
    font-size: 16px
    line-height: 1.2
    font-weight: 500
    color: $default-color
    height: 32px
    padding: 0 45px 0 10px
    border: none
    background: transparent
    box-shadow: none
    text-shadow: none
    cursor: pointer
    &:hover
        background: transparent

.jq-selectbox__trigger
    position: absolute
    top: 0
    right: 0
    width: 34px
    height: 100%
    border-left: none

.jq-selectbox__trigger-arrow
    position: absolute
    top: 8px
    right: 27px
    width: 10px
    height: 5px
    background-image: url(../img/icons/angle-down.png)

.jq-selectbox li.selected, .jq-selectbox li
    background-color: transparent
    font-family: 'Quicksand', sans-serif
    font-size: 16px
    line-height: 1.2
    font-weight: 500
    color: $color-black
    margin-bottom: 10px
    &:last-child
        margin-bottom: 0

    &:hover
        background: $main-color
        color: $color-white

.jq-selectbox__dropdown
    margin: 2px 0 0
    padding: 15px
    border: 1px solid $default-color
    border-radius: 4px
    background: $color-white
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%)

    ul
        padding: 5px

.product
    padding: 120px 0 60px 0

    &__container
        border-bottom: 2px solid #ececec

    &__items-form

    &__items-info

    &__items-num
        border: 1px solid #ececec
        transform: translateY(1px)

    &__items-btn
        padding: 13px 37px
        text-transform: none
        margin-left: 15px
        margin-bottom: 155px

.product-items

    &__inner
        display: flex

    &__slide
        width: 730px
        display: flex

    &__content
        width: 370px

    &__title
        margin-bottom: 15px

    &__box
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 25px

    &__price
        display: flex
        align-items: center

    &__price-new
        margin-right: 19px
        font-family: 'Quicksand', sans-serif
        font-size: 18px
        line-height: 34px
        font-weight: 500
        color: $color-black

    &__price-old
        font-family: 'Quicksand', sans-serif
        font-size: 18px
        line-height: 34px
        font-weight: 500
        color: #ccccce
        text-decoration: line-through

    &__stars
        display: flex
        align-items: baseline
        font-family: 'Quicksand', sans-serif
        font-size: 18px
        line-height: 34px
        font-weight: 500
        color: $color-black

    &__text
        margin-bottom: 25px
        font-family: 'Quicksand', sans-serif
        line-height: 26px
        font-weight: 500
        color: $default-color

    &__span
        display: block
        font-family: 'Roboto', sans-serif
        font-size: 18px
        line-height: 26px
        color: $color-black

.product-slide
    margin-right: 70px
    .slick-track
        height: 674px
    .slick-vertical .slick-slide
        height: 140px
        margin-bottom: 30px

    &__thumb
        width: 140px
        margin-right: 30px

    &__thumb-item
        width: 140px
        height: 140px
        margin-bottom: 10px
        cursor: pointer

    &__thumb-img
        width: 140px
        height: 140px
        //object-fit: cover

    &__big
        width: 560px

    &__big-item

    &__big-img
        width: 560px
        height: 651px
        object-fit: contain

.product-items-stars
    margin-bottom: 0
    margin-right: 10px

.product-filter

    &__color
        margin-bottom: 25px

    &__color-title, &__size-title
        display: block
        font-family: 'Roboto', sans-serif
        font-size: 18px
        line-height: 26px
        color: $color-black
        margin-bottom: 14px

    &__color-label, &__size-label
        margin-right: 10px
        display: inline-flex
        cursor: pointer
        &:last-child
            margin-right: 0

    &__color-box
        padding: 2px
        border: 1px solid #ccccce

    &__color-input
        position: absolute
        overflow: hidden
        width: 1px
        height: 1px
        clip: rect(0 0 0 0)
        &:checked + .product-filter__color-box
            border-color: $main-color

    &__color-span
        display: block
        width: 16px
        height: 16px

    &__size
        margin-bottom: 25px

    &__size-input
        position: absolute
        overflow: hidden
        width: 1px
        height: 1px
        clip: rect(0 0 0 0)
        &:checked + .product-filter__size-span
            border-color: $main-color

    &__size-span
        padding: 5px 3px
        width: 40px
        height: 41px
        border: 1px solid #ececec
        font-family: 'Quicksand', sans-serif
        line-height: 26px
        font-weight: 500
        text-align: center
        color: $default-color

.product-info

    &__list
        display: flex
        flex-direction: column

    &__list-item
        display: inline-flex
        margin-bottom: 17px

    &__title
        margin-right: 20px
        font-family: 'Quicksand', sans-serif
        line-height: 18px
        font-weight: 500
        color: $color-black

    &__text, &__link
        font-family: 'Quicksand', sans-serif
        line-height: 18px
        font-weight: 500
        color: $default-color

    &__link, &__soc-link
        text-decoration: none

    &__link
        transition: .3s all
        &:hover
            text-decoration: underline

    &__soc-link
        margin-right: 10px
        &:last-child
            margin-right: 0

.jq-number__field input
    font-family: 'Quicksand', sans-serif
    width: 114px
    font-weight: 500
    padding: 12px 9px
    border: none
    outline: none
    background: none
    color: $color-black
    text-align: center

.jq-number
    padding: 0

.jq-number__spin
    position: absolute
    top: 56%
    transform: translateY(-50%)
    right: 15px
    width: 32px
    height: 14px
    border: none
    background: transparent
    box-shadow: none
    text-shadow: none
    cursor: pointer
    &::after
        content: ""
        position: absolute
        top: 4px
        left: 5px
        width: 14px
        height: 2px
        background: $color-black

.plus
    right: 4px
    top: 56%
    &::before
        content: ""
        position: absolute
        top: -2px
        left: 11px
        width: 2px
        height: 14px
        background: $color-black

.minus
    left: 9px

.product-tabs

    &__top
        padding-bottom: 18px
        border-bottom: 2px solid #ececec
        margin-bottom: 41px

    &__top-links
        font-family: 'Roboto', sans-serif
        font-size: 22px
        line-height: 28px
        font-weight: 400
        color: $default-color
        text-decoration: none
        margin-right: 59px
        &:last-child
            margin-right: 0
        &--active
            color: $color-black
            padding-bottom: 20px
            border-bottom: 2px solid $main-color

    &__content-item
        display: none
        margin-bottom: 65px
        &--active
            display: block

.comments
    display: flex
    align-items: flex-start
    margin-bottom: 11px
    &:last-child
        margin-bottom: 0

    &__img
        object-fit: cover
        min-width: 70px
        height: 71px
        border-radius: 50%
        overflow: hidden

    &__content
        margin-left: 30px

    &__content-top
        display: flex
        align-items: center
        margin-bottom: 14px

    &__content-title
        margin-right: 31px
        position: relative
        font-weight: 700
        &::after
            content: ""
            width: 1px
            height: 14px
            background: $default-color
            left: 103px
            top: 7px
            position: absolute

    &__content-descr, &__content-text, &__content-reply
        font-family: 'Quicksand', sans-serif
        font-size: 16px
        line-height: 28px
        font-weight: 500

    &__content-stars
        margin: 0
        margin-left: auto

    &__content-text
        line-height: 26px
        margin-bottom: 15px

    &__content-reply
        line-height: 26px
        text-decoration: none
        color: $default-color
        position: relative
        &::before
            content: ""
            position: absolute
            width: 15px
            height: 15px
            background: url(../img/icons/reply.svg)
            left: -25px
            top: 2px

    &__form-title
        padding-bottom: 16px
        margin-bottom: 40px
        position: relative
        &::before
            content: ""
            width: 50px
            height: 3px
            position: absolute
            background: $main-color
            bottom: 0

    &__form-input
        display: inline
        width: 570px
        &:not(:last-child)
            margin-right: 12px

    &__form-textarea
        display: block
        width: 1157px
        height: 225px
        margin: 28px 0 40px 0
        resize: none

    &__form-input, &__form-textarea
        padding: 10px 20px
        border: 1px solid #ececec
        font-family: 'Quicksand', sans-serif
        font-size: 16px
        line-height: 28px
        font-weight: 500
        &::placeholder
            font-family: 'Quicksand', sans-serif
            font-size: 16px
            line-height: 28px
            font-weight: 500

    &__form-btn
        padding: 12px 40px
        margin-bottom: 59px

    &__rating
        display: flex
        align-items: baseline
        margin-bottom: 29px

    &__rating-span
        font-family: 'Quicksand', sans-serif
        font-size: 16px
        line-height: 28px
        font-weight: 400
        color: $color-black
        margin-right: 60px

    &__rating-item
        margin-right: 25px
        &:last-child
            margin-right: 0

    &__rating-input
        position: absolute
        overflow: hidden
        width: 1px
        height: 1px
        clip: rect(0 0 0 0)
        &:checked + .comments__rating-star
            path
                fill: #ffc35b !important

    &__rating-star
        path
            fill: $default-color
            &:hover
                fill: $default-color !important

.related
    padding: 58px 0 120px 0

    &__title
        margin-bottom: 58px

    &__items
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-column-gap: 30px

    &__item-img-box
        height: auto

    &__stars
        margin-bottom: 14px

    &__item-title
        margin-bottom: 8px

.blog-page
    padding: 120px 0
    &__inner
        display: flex
        justify-content: space-between
    &__content
        width: 770px
        margin-right: 30px

    &__sidebar
        width: 370px

    &__item
        position: relative
        &:not(:last-child)
            margin-bottom: 60px
        &--no-image
            border-top: 1px solid #ececec
            box-shadow: 0px 20px 60px 0px rgba(202,202,202,0.34)

        &--slider
            .blog-page__item-box
                margin-top: -8px

    &__item-box
        border: 1px solid #ececec
        border-top: none
        padding: 50px 35px 40px 40px

    &__img
        max-width: 770px
        height: 450px
        object-fit: cover

    &__item-title
        text-decoration: none
        transition: .3s all
        &:hover
            color: $main-color

    &__item-info
        margin-top: 35px

    &__item-link
        text-decoration: none

    &__item-autor
        padding-left: 33px
        &::before
            left: 3px
    &__item-text
        font-family: 'Quicksand', sans-serif
        font-size: 16px
        line-height: 26px
        font-weight: 500

    &__item-play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -200%)

    &__slider
        position: relative
        .slick-arrow
            width: 40px
            height: 40px
            border: none
            border-radius: 50%
            background: $main-color
            box-shadow: 0px 7px 20px 0px rgba(254,62,87,0.3)
            padding-top: 6px
            transform: translateY(-50%)
            cursor: pointer
            path
                fill: $color-white !important

        .slick-disabled
            background: $color-white
            box-shadow: 0px 7px 20px 0px rgba(168,168,168,0.3)
            path
                fill: $main-color !important

        .slick-next
            position: absolute
            top: 50%
            right: 40px
        .slick-prev
            position: absolute
            top: 50%
            left: 40px
            z-index: 2

.person
    border: 1px solid #ececec
    padding: 40px 28px
    margin-bottom: 40px
    text-align: center

    &__img
        display: block
        margin: 0 auto
        width: 160px
        height: 160px
        object-fit: cover
        margin-bottom: 40px

    &__title
        font-size: 18px
        font-weight: 700

    &__post
        color: $main-color
        margin-bottom: 29px

    &__text, &__post
        font-family: 'Quicksand', sans-serif
        font-size: 16px
        line-height: 26px
        font-weight: 500

    &__text
        margin-bottom: 30px

    &__icons

    &__social-link
        text-decoration: none
        &:not(:last-child)
            margin-right: 10px

.latest-post
    border: 1px solid #ececec
    padding: 40px 29px 40px 30px
    margin-bottom: 40px

    &__title
        text-transform: uppercase
        margin-bottom: 40px

    &__item
        display: flex
        padding-bottom: 5px
        margin-bottom: 37px
        border-bottom: 1px solid #ececec
        &:last-child
            margin-bottom: 0
            padding-bottom: 0
            border-bottom: none


    &__img
        width: 80px
        height: 80px
        object-fit: cover
        margin-right: 20px

    &__content-text
        display: block
        font-family: 'Roboto', sans-serif
        font-size: 18px
        line-height: 26px
        font-weight: 400
        color: $color-black
        margin-bottom: 6px
        text-decoration: none
        transition: .3s all
        &:hover
            color: $main-color

    &__content-date
        display: block
        position: relative
        font-family: 'Roboto', sans-serif
        text-decoration: none
        line-height: 28px
        font-weight: 400
        color: $default-color
        margin-bottom: 16px
        padding-left: 25px
        &::before
            content: ""
            position: absolute
            width: 16px
            height: 16px
            background: url(../img/icons/calendar.png)
            left: -2px
            top: 5px

@import 'media'
